<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>Formulario enviado con exito!</h1>
        <p class="lead">NOS COMUNICAREMOS A LA BREVEDAD</p>
    </main>